<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">treehouse</property>
        <property name="hibernate.connection.url">jdbc:mysql://magikhelper.clrzn1ebpyaa.us-west-2.rds.amazonaws.com:3306/magikhelper</property>
        <property name="hibernate.connection.username">magikhelper</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
  		<property name="show_sql">true</property>
  		<mapping class="com.magikhelper.dao.pojo.Code"/>
  		<mapping class="com.magikhelper.dao.pojo.CodeType"/>
  		<mapping class="com.magikhelper.dao.pojo.User"/>
  		<mapping class="com.magikhelper.dao.pojo.Address"/>
  		<mapping class="com.magikhelper.dao.pojo.Booking"/>
  		<mapping class="com.magikhelper.dao.pojo.BookingService"/>
  		<mapping class="com.magikhelper.dao.pojo.ServicesRates"/>
  		<mapping class="com.magikhelper.dao.pojo.VendorSkill"/>
    </session-factory>
</hibernate-configuration>
