<ion-view  title="Check Service Availability">
    <ion-header-bar class="bar bar-positive bar-stable">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
        <h1 class="title">Check Availability</h1>
    </ion-header-bar>
    <ion-content class="padding" data-tap-disabled="true">
        <div class="list formLayout">
            <form name="zipForm">
                <div class="sectionHeading">Enter the address where you need service at</div>
                <div class="list ">
                    <label class="item item-input loginForminput border_bottom_input">
                        <input type="text" id="address" class="form-control" ng-autocomplete
                               ng-model="availabilityData.details.formatted_address"
                               options="options" details="availabilityData.details"/>

                    </label>
                </div>
            </form>
        </div>
    </ion-content>

    <div class="bar bar-footer form_submit">
        <button class=" form_submit button-clear button-positive" style="color:#ffffff;" ng-click="checkAvailability()" >Check</button>
    </div>
</ion-view>