
<ion-view title="Booking">
    <ion-header-bar class="bar bar-positive bar-stable">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
        <h1 class="title"></h1>
    </ion-header-bar>
    <ion-content class="padding">
        <div class="list  formLayout">
            <div class="sectionHeading">Create your Booking</div>

                <div class="list ">
                        <label class="item item-input loginForminput border_bottom_input item-icon-right">
                            <input type="date"  placeholder="Date of Service" ng-model="bookingDetails.bookingDate">
                            <i class="icon ion-calendar" style="color:#4571DA;"></i>
                        </label>

                        <label class="item item-input loginForminput border_bottom_input item-icon-right">
                            <span class="input-label">Select the time window</span>
                            <select class="selectStyle" ng-model="bookingDetails.selectedTimeSlot"
                                    ng-options="timeSlot.code as timeSlot.name for timeSlot in timeSlots">
                            </select>
                            <i class="icon ion-chevron-down" style="color:#4571DA;"></i>
                        </label>
                         <ion-item style="color:#E18B5C " class="item range range-positive loginForminput border_bottom_input" >
                             <span class="loginForminput" style="color:#2E2AA1 !important; margin-bottom: 0px;">Approx # of hours ( {{bookingDetails.hours}} hrs ) </span>
                                <input type="range" name="hours" value="2" min="2" max="10" ng-model="bookingDetails.hours">
                         </ion-item>
                </div>
                <!--
                <a ui-sref="services" class="button button-theme button-block">Book</a>
              <button ui-sref="" class="button button-theme button-block">Book</button> -->

        </div>
        <div class="list card formLayout">
            <div class="sectionHeading">Additional Instructions</div>

            <div class="list ">
                <label class="item item-input text nopadding">
                    <textarea class="item item-input loginForminput border_bottom_input textareaAddtional"
                              placeholder="Tell us more about your job ..." rows="4"
                              ng-model="bookingDetails.instructions" ng-Required="true"
                              name="additionalInstructions"></textarea>
                </label>
            </div>
            <!--
            <a ui-sref="services" class="button button-theme button-block">Book</a>
          <button ui-sref="" class="button button-theme button-block">Book</button> -->

        </div>
    </ion-content>
    <div class="bar bar-footer form_submit">
        <button class=" form_submit button-clear button-positive" style="color:#ffffff;" ng-click="setBookingDetails()">Next</button>
    </div>
</ion-view>