<ion-view title="Confirmation">
    <ion-header-bar class="bar bar-positive bar-stable">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
        <h1 class="title"></h1>
    </ion-header-bar>
    <ion-content class="padding" >
        Thank you for choosing magikHelp, please review the information below before confirming
        <div class="list card">

            <a href="#" class="item item-icon-left">
                <i class="icon ion-person" style="color:#4571DA;"></i>
                Syed Mehdi
            </a>

            <a href="#" class="item item-icon-left item-icon-right">
                <i class="icon ion-home" style="color:#4571DA;"></i>
                14255 Preston Rd # 1033 Dallas, TX 75254
                <i class="icon ion-edit" style="color:#4571DA;"></i>
            </a>

            <a href="#" class="item item-icon-left">
                <i class="icon ion-ios-telephone" style="color:#4571DA;"></i>
                    650-892-4943
            </a>
            <a href="#" class="item item-icon-left">
                <i class="icon ion-ios-clock-outline" style="color:#4571DA;"></i>
                    05/05/2015
                <p>10:00 AM - 12:00 PM</p>
            </a>


            <a href="#" class="item item-icon-left">
                <i class="icon ion-email" style="color:#4571DA;"></i>
                kmehdi@gmail.com
            </a>

            <a href="#" class="item item-icon-left">
                <i class="icon ion-hammer" style="color:#4571DA;"></i>
                Cleaning
                <p>Need to clean bathroom, living and backyard</p>
            </a>

        </div>
    </ion-content>
    <div class="bar bar-footer form_submit ">
        <div class="title"><a ui-sref="contact_person"> Place Order </a></div>
    </div>

</ion-view>