<ion-view title="Login">
    <ion-content padding="true" class="has-header">
        <div class="list card">
            <div class="item item-image ">
               <img src="img/logo.png"/>
            </div>
            <div class="list">

                <form ng-submit="login()" ng-controller="LoginCtrl">

                    <label class="item item-input">
                        <span class="input-label">Username</span>
                        <input type="text" name="username" id="username" class="form-control form_field"
                               ng-model="username" required/>
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Password</span>
                        <input type="password" name="password" id="password" class="form-control form_field"
                               ng-model="password"
                               required/>
                    </label>
                    <div class="padding">
                        <button type="submit" class=" form_submit button button-royal">Log in</button>
                    </div>

                </form>
                <div class="item item-divider btnAccount">
                    Don't have a account?<a ui-sref="signup"> Sign up </a>
                </div>

            </div>
        </div>
    </ion-content>
</ion-view>