<!--
<ion-view title="Signup">
    <ion-content padding="true" scroll="false" class="has-header">
        <form ng-submit="createUser()" ng-controller="SignUpCtrl">
            <ion-list>
                <label class="item item-input">
                    <input type="text" placeholder="Name" class="form-control" name="contactName"
                           ng-model="contactName">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Email" class="form-control" name="email" ng-model="email">
                </label>
                <label class="item item-input">
                    <input type="password" placeholder="Password (min 6 chars)" class="form-control" name="password"
                           ng-model="password">
                </label>
                <label class="item item-input">
                    <input type="password" placeholder="Confirm Password" class="form-control" name="confirmPassword"
                           ng-model="confirmPassword">
                </label>

            </ion-list>
            <button type="submit" class="button button-stable button-block">Sign up</button>

        </form>
    </ion-content>
</ion-view>
-->
<ion-view title="Signup">
    <ion-content class="padding">
        <div id="logo-wrapper" style="text-align: center;"><img src="img/logo.png" width="150px;"></div>
        <div class="list">
            <form ng-submit="createUser()" ng-controller="SignUpCtrl">
                <label class="item item-input loginForminput border_bottom_input">
                    <input type="text" placeholder="Name" name="firstName" ng-model="firstName">
                </label>

                <label class="item item-input loginForminput border_bottom_input">
                    <input type="text" placeholder="Address" name="address" ng-model="address">
                </label>

                <label class="item item-input loginForminput border_bottom_input">
                    <input type="email" placeholder="Email" name="email" ng-model="email">
                </label>
                <label class="item item-input loginForminput border_bottom_input">
                    <input type="password" placeholder="Password" name="password" ng-model="password">
                </label>
                <label class="item item-input loginForminput border_bottom_input">
                    <input type="password" placeholder="Confirm Password" name="confirmPassword"
                           ng-model="confirmPassword">
                </label>
                <!--   <a class="button button-block button-positive" ui-sref="contact_person">Sign Up</a> -->
                <button type="submit" class="button button-block button-positive">Sign Up</button>
            </form>
        </div>
    </ion-content>
    <div class="bar bar-footer btnAccount">
        <div class="title">Already Account? <a ui-sref="login">Login</a></div>
    </div>
</ion-view>